.imageContainer {
  background-image: url(../../assets/images/home.png);
  width: 100%;
  min-height: 42vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6vw 3vw;
}
.titleHome {
  color: rgba(255, 255, 255, 1);
}
.categoriesContainer{
  padding: 6vw 3vw;
}
.carousel {
  display: flex;
  gap: 32px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.arrowLeft,
.arrowRight {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 25px;
}
.arrowLeft {
  left: 5px;
}
.arrowRight {
  right: 5px;
}
.sliderWrapper {
  position: relative;
}