.imageContainer {
  background-image: url(../../assets/images/home.png);
  width: 100%;
  min-height: 42vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6vw 3vw;
}
.titleHome {
  color: rgba(255, 255, 255, 1);
}
.categoriesContainer {
  padding: 6vw 3vw;
}
.carousel {
  display: flex;
  gap: 32px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.arrowLeft,
.arrowRight {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 25px;
}
.arrowLeft {
  left: 5px;
}
.arrowRight {
  right: 5px;
}
.sliderWrapper {
  position: relative;
}

.formContainer {
  width: 100%;
  background-color: rgba(13, 80, 255, 1);
}
.formContainerTitel {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 2vw;
}
.formContainerFlex {
  display: flex;
  justify-content: space-between;
}
.form {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  width: 36vw;
  gap: 1vw;
  background-color: rgba(13, 80, 255, 1);
}
.input {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(13, 80, 255, 1);
  border: 1px solid white;
  height: 58px;
}
.input::placeholder {
  color: rgba(255, 255, 255, 1);
  font-size: 5rem;
}
.button {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(40, 40, 40, 1);
  font-weight: 600;
  font-size: 5rem;
  height: 58px;
}
.formImg {
  width: 100%;
  max-width: 54vw;
  height: auto;
  object-fit: contain;
  align-self: flex-end;
}
