.carousel {
  display: flex;
  gap: 32px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.arrowLeft,
.arrowRight {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  z-index: 5;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 10rem;
  background-color: rgba(30, 131, 226, 0.5);
  transition: 0.3s;
   box-shadow: 2px 2px  12px rgb(2, 20, 77);
}
.arrowLeft:hover,
.arrowRight:hover{
   width: 30rem;
  height: 30rem;
  font-size: 15rem;
}
.arrowLeft {
  left: 5px;
}
.arrowRight {
  right: 5px;
}
.sliderWrapper {
  position: relative;
}
