.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
  width: 100%; 
}
.containerLeft {
  margin: 0;
  font-size: 16rem;
  font-weight: 700;
  width: auto;
  padding-right: 32px;
  white-space: nowrap;
}
.containerRight {
  width: 35.5rem;
  padding: 2rem 4rem;
  border: 1px solid rgba(221, 221, 221, 1);
  border-radius: 6px;
  font-size: 4rem;
  color: rgba(139, 139, 139, 1);
  white-space: nowrap;
}
.linie {
  height: 1px;
  background-color: rgba(221, 221, 221, 1);
  width: 100%;
}
