.button {
  background-color: rgba(13, 80, 255, 1);
  border: none;
  color: rgba(255, 255, 255, 1);
  height: 15rem;
  font-size: 5rem;
  font-weight: 500;
}
.button:hover{
    background-color: rgba(40, 40, 40, 1) !important;
    color: rgba(255, 255, 255, 1) !important;
    border: none !important;
}
.button:disabled{
    background-color: rgba(255, 255, 255, 1) !important;
    color: rgba(40, 40, 40, 1) !important;
    border: 2px solid rgba(40, 40, 40, 1) !important;
}
 
