.button {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(40, 40, 40, 1) ;
  font-weight: 600 ;
  font-size: 5rem ;
  height: 14.5rem ;
}
.button:hover{
  background-color: rgba(40, 40, 40, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
}
.button:active{
  background-color:rgba(255, 255, 255, 1) !important;
  color: rgba(13, 80, 255, 1) !important;
}
.button:focus {
  outline: none !important;
  box-shadow: none !important;
}